body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #2f2f2f;
}

p {font-size: 16px;}
.margin {
  margin-bottom: 45px;
}
.bg-1 {
  background-color: #faf6f2;
  color: #2f2f2f;
}

.bg-2 {
  background-color: #f7d0c3;
  color: #ffffff;
}

.bg-3 {
  background-color: #faf6f2;
  color: #555555;
}

.bg-4 {
  background-color: #1a181b;
  color: #fff;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  background-color: #f7d0c3;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-toggle{
  margin-left: 15px;
  float:left;
}

.container {
  margin-left:15px;
}

.navbar-nav  li a:hover {
  color: #1abc9c !important;
}
